.div0{

    background-color: blanchedalmond;
}
.Div{
    width: 500px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(154, 213, 155);
    color : red;

}
.B1{
    background-color: greenyellow;
}
.B2{
     background-color: rgb(232, 21, 21);
}
.count{
    color:aqua;
}
.div2{
    background-color: rgb(208, 149, 231);
    border-radius: 20px;

}