.div0{

    background-color: blanchedalmond;
}
.Div{
    width: 500px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(189, 124, 176);
    color : rgb(9, 6, 6);

}
.B1{
    background-color: rgb(196, 232, 107);
}
.B2{
     background-color: rgb(232, 21, 21);
}
.count{
    color:aqua;
}
.div2{
    background-color: rgb(208, 149, 231);
    border-radius: 20px;

}